In [83]:
import numpy as np

In [8]:
a=np.arange(1,10)
a

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [9]:
b=np.array([1,2,5,8,90])
b

array([ 1,  2,  5,  8, 90])

In [10]:
b[4]

90

In [11]:
b[2]=20
b

array([ 1,  2, 20,  8, 90])

In [12]:
a=np.arange(1,10).reshape(3,3)
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [18]:
a[:,2]

array([3, 6, 9])

In [20]:
a[2,1]

8

In [21]:
a[1,:]

array([4, 5, 6])

In [22]:
a*2

array([[ 2,  4,  6],
       [ 8, 10, 12],
       [14, 16, 18]])

In [23]:
a+2

array([[ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [24]:
a-2

array([[-1,  0,  1],
       [ 2,  3,  4],
       [ 5,  6,  7]])

In [25]:
a[:,[1,2]]

array([[2, 3],
       [5, 6],
       [8, 9]])

In [27]:
z=np.random.randint(20, size=(4,5))
z

array([[19,  4, 17, 12,  6],
       [13,  0,  6,  3,  6],
       [ 8, 11, 10,  1,  8],
       [ 7,  9, 16,  6, 18]])

In [30]:
z*2

array([[38,  8, 34, 24, 12],
       [26,  0, 12,  6, 12],
       [16, 22, 20,  2, 16],
       [14, 18, 32, 12, 36]])

In [31]:
import pandas as pd

In [35]:
pd.Series([1,2,3,7])

0    1
1    2
2    3
3    7
dtype: int64

In [42]:
a=pd.Series([1,5,7,6,45,785,10,1,270,0])
a

0      1
1      5
2      7
3      6
4     45
5    785
6     10
7      1
8    270
9      0
dtype: int64

In [43]:
a.head(5)

0     1
1     5
2     7
3     6
4    45
dtype: int64

In [47]:
p=pd.Series([1,5,7,6,45,785,10,1,270,0],index=(9,8,7,6,5,4,3,2,1,0))
p

9      1
8      5
7      7
6      6
5     45
4    785
3     10
2      1
1    270
0      0
dtype: int64

In [48]:
sozluk={"log":11 , "reg":20, "cart":10}
sozluk

{'log': 11, 'reg': 20, 'cart': 10}

In [49]:
seri=pd.Series(sozluk)
seri

log     11
reg     20
cart    10
dtype: int64

In [58]:
yas={"aysun":20, "baris":21, "suna":22, "leyla":24}
bilgi=pd.Series(yas)
bilgi

aysun    20
baris    21
suna     22
leyla    24
dtype: int64

In [59]:
bilgi[1]

21

In [61]:
bilgi.keys

<bound method Series.keys of aysun    20
baris    21
suna     22
leyla    24
dtype: int64>

In [63]:
list(bilgi.items())

[('aysun', 20), ('baris', 21), ('suna', 22), ('leyla', 24)]

In [65]:
bilgi[["aysun"]]

aysun    20
dtype: int64

In [68]:
bilgi[["aysun","baris"]]

aysun    20
baris    21
dtype: int64

In [76]:
 pd.DataFrame(bilgi, columns=["Yas"])

       Yas
aysun   20
baris   21
suna    22
leyla   24

In [89]:
import numpy as np
m=np.arange(1,10).reshape(3,3)

In [90]:
m

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [94]:
df = pd.DataFrame(m, columns = ["var", "var2", "var3"])

In [95]:
df

   var  var2  var3
0    1     2     3
1    4     5     6
2    7     8     9

In [96]:
df.axes

[RangeIndex(start=0, stop=3, step=1),
 Index(['var', 'var2', 'var3'], dtype='object')]

In [97]:
bilgi

aysun    20
baris    21
suna     22
leyla    24
dtype: int64

In [103]:
a=np.arange(1,10).reshape(3,3)
z= pd.DataFrame(a, columns =["yas","dogum_tarihi","kan_grubu"])

In [104]:
z

   yas  dogum_tarihi  kan_grubu
0    1             2          3
1    4             5          6
2    7             8          9

In [115]:
df1=pd.DataFrame({"isim":["aysun","baris","suna","leyla"],
                 "yas":[20,21,22,24]})
df1

    isim  yas
0  aysun   20
1  baris   21
2   suna   22
3  leyla   24

In [119]:
df1["isim"]

0    aysun
1    baris
2     suna
3    leyla
Name: isim, dtype: object

In [125]:
df1["isim"][0:2]

0    aysun
1    baris
Name: isim, dtype: object